<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus perferendis officiis ipsa unde nostrum amet deleniti eum laboriosam omnis, quis tempore, odio nulla corporis aspernatur. Totam, cumque reiciendis dicta aliquid consectetur error perspiciatis earum iusto cupiditate sit ipsa veritatis soluta ipsum ea corrupti quisquam culpa mollitia dolorem unde aliquam. Praesentium, quia porro minima tempora suscipit itaque laborum. A, ad incidunt tenetur, consectetur deleniti dignissimos maiores praesentium laborum possimus magni dolor laboriosam asperiores quidem maxime itaque cupiditate, quisquam aperiam ullam corporis amet ea voluptas eum nobis! Esse, magni nesciunt eveniet accusantium beatae vero? Corrupti nobis dolore, quos numquam molestiae at labore.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis eaque neque enim recusandae nam pariatur, ipsa aut cupiditate dolorum, quo rerum magnam vitae natus velit itaque repellendus earum culpa cum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, eveniet odit. Cupiditate similique officiis, eius repellendus soluta magnam dolorum tempore quod, exercitationem alias natus nobis minus. Nihil excepturi delectus nam!</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>